<html>
<h1>
Bonjour {{ user.name }} !
</h1>
<p>
Pour valider votre compte, cliquez sur ce lien : <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
</p>
<p>
Bien cordialement,<br>
L'équipe développement
</p>
</html>