<html>
<h1>
Bonjour {{ user.username }} !
</h1>
<p>
Vous pouvez réinitialiser votre mot de passe en cliquant sur ce lien : {{ confirmationUrl }}
</p>
<p>
Bien cordialement,<br>
L'équipe développement
</p>
</html>